accelerate
bitsandbytes
black==23.1.0
datasets
deepspeed
einops>=0.6.1
evaluate==0.4.0
hf-doc-builder>=0.4.0
hf_transfer>=0.1.4
huggingface-hub
isort>=5.12.0
ninja>=1.11.1
numpy>=1.24.2
packaging>=23.0
parameterized>=0.9.0
peft==0.7.1
protobuf<=3.20.2
safetensors>=0.3.3
sentencepiece>=0.1.99
scipy
transformers
trl==0.8.2
jinja2>=3.0.0
tqdm>=4.64.1
wandb
